<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974705252041-6lnlkodvkkuui3sn74bmhke760r0hvi9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974705252041-6lnlkodvkkuui3sn74bmhke760r0hvi9</string>
	<key>API_KEY</key>
	<string>AIzaSyCCPugluC8oB41X_fCxq8ekfhXG4jjVG1w</string>
	<key>GCM_SENDER_ID</key>
	<string>974705252041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappme</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-messangr</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-messangr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974705252041:ios:7e4cf713587397d06a1f18</string>
</dict>
</plist>